<!-- <h1>Pipes</h1> -->
<!-- <p>{{date}}</p>

<p>{{date | date : 'short'}}</p>

<p>{{date | date : 'long'}}</p>

<p>{{date | date : 'dd/MM/yyyy'}}</p>

<p>{{date | date : 'dd/MMM/yyyy'}}</p>

<p>{{date | date : 'EEEE/MMM/yyyy'}}</p> -->

<!-- <p>{{simple}}</p> -->

<!-- <p>{{simple | uppercase}}</p> -->

<!-- <p>{{simple | lowercase}}</p> -->

<!-- <p>{{ simple | slice:5 | uppercase }}</p> -->

<!-- <p>{{sk | json}}</p> -->

<!-- <h2>Custom pipes</h2> -->

<!-- <p>{{amu | custom :5}}</p> -->

<!-- <p>{{ simple | slice : 2  | uppercase }}</p> -->
